doctype html

html(lang="en")

  head
    meta(charset='utf-8')
    title nekowizTW customGashapon
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="styles/side-menu.css")
    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='stylesheet', href='styles/main.css')
    
    // build:js scripts/vendor/modernizr.js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    // endbuild
    
  body
    //if lt IE 10
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    
    #layout
      a#menuLink.menu-link(href='#menu')
        // Hamburger icon
        span
      #menu
        .pure-menu
          a.pure-menu-heading(href='http://nekowiztw.github.io/') NekowizTW
          ul.pure-menu-list
            li.pure-menu-item
              a.pure-menu-link(href='http://zh.nekowiz.wikia.com') 黑貓wikia
            li.pure-menu-item
              a.pure-menu-link(href='https://github.com/NekowizTW/eventTimeline') 專案地址
      #main
        .header
          h1 非官方轉蛋機
        .content
          #app
        .footer
          .legal.pure-g
            .pure-u-1-2
              p.legal-license
                | 本專案使用CC0對原始碼授權，工具部份維持原來授權方式授權，資料來源遵照wikia授權
            .pure-u-1-2
              p.legal-copyright
                | Project created by OtomeSound
                
    // purecss ui
    script(src='https://nekowiztw.github.io/SkillDamage/js/ui.js')
    // build:js scripts/vendor.js
    // bower:js
    
    
    
    
    // endbower
    // endbuild
    script(src='scripts/app.js')
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
